%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        =bootstrap_form_for [:admin, @video], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-5'  do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", admin_payments_path
            %li.active
              %a(href="") Add a New Video
          %fieldset
            = f.text_field :title, class: 'col-sm-5' 
            = f.collection_select(:category_id, Category.all, :id, :title, :include_blank => 'Please select a category', class: "col-sm-5")
            = f.text_area :description, rows: 8, class: 'col-sm-5'
            = f.file_field :large_cover, class: "btn btn-file"
            = f.file_field :small_cover, class: "btn btn-file"
            = f.text_field :video_url 
          %fieldset.actions.form-group
            .col-sm-2.col-md-offset-2
              %input(type="submit" value="Add Video" class="btn btn-default")
